[Unit]
Description=VNC Server container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=-/usr/bin/podman stop %N
ExecStartPre=-/usr/bin/podman rm %N
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --name %N\
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--sdnotify=conmon \
	--tz=local \
	--detach \
	--replace \
	-v /dev/shm:/dev/shm \
	-v vnchome:/home/vncuser \
	--mount type=tmpfs,tmpfs-mode=0777,destination=/home/vncuser/.cache \
	--ulimit core=0 \
	--hostname vnc \
	vncserver:socket-activated
ExecStop=/usr/bin/podman stop \
	--ignore \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
