[Unit]
Description=Docker Registry UI container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=-/usr/bin/podman stop %N
ExecStartPre=-/usr/bin/podman rm %N
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --name %N\
        --network=none \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --sdnotify=conmon \
        --tz=local \
        --detach \
        --replace \
        --env NGINX=3; \
        --env HTTPS_METHOD=noredirect \
        --env NGINX_PROXY_PASS_URL=https://unix:/tmp/registry.sock \
        --env NGINX_LISTEN_PORT=3001 \
        --env SINGLE_REGISTRY=true \
        -v %t/docker-registry/registry.sock:/tmp/registry.sock \
        joxit/docker-registry-ui:latest
ExecStop=/usr/bin/podman stop \
        --ignore \
        --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
