[Unit]
Description=Nginx reverse-proxy container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=-/usr/bin/podman stop %N
ExecStartPre=-/usr/bin/podman rm %N
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --name %N\
        --network=none \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --sdnotify=conmon \
        --tz=local \
        --detach \
        --replace \
        --env NGINX=3; \
        -v %t/nginx_sockets:/socket \
        -v /srv/reverse-proxy/default.conf:/etc/nginx/conf.d/default.conf \
        docker.io/library/nginx:alpine-slim
ExecStop=/usr/bin/podman stop \
        --ignore \
        --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
